<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CustomSearch.Properties.Settings.CustomSearchDBConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=CustomSearchDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="bingSubscriptionKey" value="04abcf8d231f4fde9c2fef1fa1569e3f" />
    <add key="bingCustomConfig" value="69ce3c0b-73f7-4d0c-9cf3-045a8692a88f" />
    
    <add key="yandexSubscriptionKey" value="03.836971308:e97462e998703a909d393c7922830f88" />
    <add key="yandexUser" value="vadimsobolevmed" />

    <add key="googleSubscriptionKey" value="AIzaSyBdzwvZEokZwd951WKnrrtxNDiM32PRD3w" />
    <add key="googleSearchEngineId" value="017913394455089715111:z_l9p9kaeqe" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
